# Equal Weight S&P500

### Library Imports

In [76]:
import pandas as pd
import numpy as np
import requests
import xlsxwriter
import math

### Import list of stocks

In [77]:
stocks = pd.read_csv("sp_500_stocks.csv")

### API Token

All data is in sandbox mode

In [78]:
from secrets import IEX_CLOUD_API_TOKEN

### Making Our First API Call

Stockprice and Market Capitalization

In [79]:
# API CALL for one Stock
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

### Parsing Our API Call

In [80]:
price = data['latestPrice']
market_capitalization = data['marketCap']

### Adding Our Stocks Data to a Pandas DataFrame

In [81]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [82]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_capitalization,
            'N/A'
        ],
        index=my_columns
    ), 
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       139.98         2328593019784                     N/A

### Looping Through The Tickers in Our List of Stocks

In [83]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker'][:5]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock,
                data['latestPrice'],
                data['marketCap'],
                'N/A'
            ],
            index=my_columns
        ),
        ignore_index=True
    )

final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A       133.89           40684097266                     N/A
1    AAL        18.02           10904408461                     N/A
2    AAP       153.70           10866465958                     N/A
3   AAPL       137.69         2330044617043                     N/A
4   ABBV       107.29          184880277299                     N/A

### Using Batch API Calls to Improve Performance

In [84]:
# from Stackoverflow
def chunks(lst, n):
    """Yield successive n-sized chunks from lst"""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [85]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['quote']['marketCap'],
                    'N/A'
                ],
                index=my_columns
            ),
            ignore_index=True
        )
        
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       133.50           39492394304                     N/A
1      AAL        18.04           10483892487                     N/A
2      AAP       160.21           10630449198                     N/A
3     AAPL       136.05         2303976013911                     N/A
4     ABBV       108.49          186243383781                     N/A
..     ...          ...                   ...                     ...
500    YUM       107.08           33074297882                     N/A
501    ZBH       164.04           34229373426                     N/A
502   ZBRA       494.69           26022151436                     N/A
503   ZION        51.51            8169302662                     N/A
504    ZTS       174.66           81353551103                     N/A

[505 rows x 4 columns]

### Calculating the Number of Shares to Buy

In [86]:
portfolio_size = input('Enter the value of your portfolio:')

try:
    val = float(portfolio_size)
except ValueError:
    print("That is not a number. Please try again")
    portfolio_size = input('Enter the value of your portfolio:')
    val = float(portfolio_size)

Enter the value of your portfolio:1000000

In [87]:
position_size = val / len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[i, 'Stock Price'])
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       133.50           39492394304                      14
1      AAL        18.04           10483892487                     109
2      AAP       160.21           10630449198                      12
3     AAPL       136.05         2303976013911                      14
4     ABBV       108.49          186243383781                      18
..     ...          ...                   ...                     ...
500    YUM       107.08           33074297882                      18
501    ZBH       164.04           34229373426                      12
502   ZBRA       494.69           26022151436                       4
503   ZION        51.51            8169302662                      38
504    ZTS       174.66           81353551103                      11

[505 rows x 4 columns]

### Formatting Our Excel Output | Initializing our XlsxWriter Object

In [89]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the Formats We'll Need For Our .xlsx File

In [90]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying the Formats to the Columns of Our .xlsx File

In [91]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

### Saving Our Excel Output

In [92]:
writer.save()